.App {
  text-align: center;

}
ul{
  list-style: none;
}

.btn {
  margin: 1rem;
  background-image: linear-gradient(to bottom, #9b59b6, #e74c3c);
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #333;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
.btn:hover{
     background-image: linear-gradient(to bottom, #8e44ad, #c0392b);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

